/* Définition de la police */

@font-face{
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf") format("truetype");
}

* {
    font-family: "raleway", Arial;
}

/* Mise en page générale */

:link {
    text-decoration:none;
}
a:visited {
color: #0000;
}
* {
    list-style-type: none;
}
h1{
    font-size: x-large;
    font-weight: bolder;
}

/* Mise en page index.html */

/*HEADER*/

#logoNav {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;

}
.navElement {
    color: #0000;
    margin-left: 30px;
    margin-right: 35px;
    padding: 12;
}
nav a:hover {
    color:#0065FC;
    border-top: 3px solid #0065FC ;
    padding: 22px 0 0 0; 
}
#inscription {
    font-weight: bolder;
    color: #0065FC;
    margin-left: 30px;
    margin-right: 35px;
}
#inscription:hover {
    color: #0000;
}
#search{
    display: flex;
    justify-content: left;
}
#searchLogo {
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 50px;
    height: 50px;
}
#searchInput{
    border: 2px solid #F2F2F2;
    font-weight: bolder;
    height: 50px;
    width: 230px;
    font-size: 20px ;
    margin-right: 0px;
}
#searchSubmit {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color:#FFFF;
    font-size: 15px;
    font-weight: bolder;
    border-bottom-right-radius: 30px ;
    border-top-right-radius: 30px;
    height: 55px;
    width: 135px;
    margin-right: 30px;
    
}
#searchSubmit:hover {
    cursor: pointer;
    background-color: #FFFF;
    color:#0065FC;
}
#filter {
    display: flex;
    flex-direction: row;
}
#filterTitle{
    margin: 30px 0 0 0;
    padding: 0 0 20px 0;
}
.filterBlock {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    font-weight: bolder;
    border: 2px solid #F2F2F2;
    width: 200px;
    height: 50px;
    border-radius: 30px;
    justify-content: left;
}
.filterElement {
    margin-right: 5px;
}
.tempFilterLogo{
    border: 3px solid #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 100px;
    padding: 2px 2px 2px 2px;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}
.filterBlock:hover{
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    cursor:pointer;
}

#info {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
     
}
#infobulle {
    color: #0065FC;
    font-weight: bolder;
    font-family:serif;
    border: 3px solid #F2F2F2;
    border-radius: 100px;
    padding: 2px 2px 2px 2px;
    justify-content: center;
    
}
h4 #info {
    margin: 10px 0 0 0;
}

/*MARSEILLE*/

#mainSection{
    display:flex;
    flex-direction: row;
}
#marseille{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width:880px;
}
#firstLine{
    display:flex;
    flex-direction: row;
}
#secondLine{
    display:flex;
    flex-direction: row;
}
#affplus:hover{
    cursor:pointer;
    color:#0065FC;
}
.locationMarseille {
    background-color: #FFFF;
    width: 250px;
    height: 250px;
    display:block;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    margin: 30px 30px 30px 30px
}
.photoMarseille{    
    max-width: 100%;
    max-height: 48%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#populaire{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 421px;
    margin: 0 0 40px 0;
}
.locationPopulaire{
    display: flex;
    background-color: #FFFF;
    border-radius: 30px;
    height: 150px;
    width: 350px;
    margin: 10px 10px 0 0;
}
.photoPopulaire {
    max-width: 40%;
    max-height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.descriptionLocation {
    display: flex;
    flex-direction: column;
}
.nomHebergement{
    font-weight: bolder;
}
/*LOWER SECTION*/
#lowerSection {
    padding-top:70px;
}
#activites {
    display: flex;
    flex-direction: row;
}
#leftActivites, #rightActivites {
    display: flex;
    flex-direction: row;
}
#leftColumn, #rightColumn {
    display: flex;
    flex-direction: column;
}
.bigActivites {
    border-radius: 30px;
    width: 300px ;
    height: 450px ;
    border: 2px solid #F2F2F2;
}
.littleActivites {
    border-radius: 30px;
    width: 300px;
    height: 160px;
    border: 1px solid #F2F2F2;
}
.bigActivitePhoto{
    max-width: 100%;
    max-height: 85%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.littleActivitePhoto {
    max-width: 100%;
    max-height: 70%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.nomActivite {
    font-weight: bold;
}

/*FOOTER*/
footer {
   background-color: #F2F2F2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.footerLink{
    display: flex;
    flex-direction: column;

}
footer a:hover{
    color:#0065FC;
}


/* Mise en page construction.html */
#construction {

    background-color: #F2F2F2;
    width: 50%;
    margin: 10% 40% 25% 25%;
    
    text-align: center;
    border: 5px #DEEBFF solid;
    border-radius: 15px; 
}
#constlink{
    color: #0000;
}
#constLink:hover {
    color: #0065FC;
}
#constLink:active{
    text-decoration: italic;
}