/* Définition de la police */

@font-face{
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf") format("truetype");
}

* {
    font-family: "raleway", Arial;
}

/* Mise en page générale */

html {
    font-size: 11px;
}
h2 {
    font-weight: bolder;
    font-size: 1.8rem;
    margin-left: 15px;
}
a {
    text-decoration:none;
    color: black;
}
a:visited {
color: #0000;
}
* {
    list-style-type: none;
}
h1 {
    font-size: 4em;
    font-weight: bolder;
}
.blueStar {
    color: #0065FC;
}
.whiteStar {
    color: #DEEBFF;
}
em {
    font-weight: bold;
}

/* Mise en page index.html */

/*HEADER*/

#mainSubTitle {
    font-size: 1.5rem;
    margin-top: -5px;
    font-weight: lighter;
}
#mainTitle {
    font-weight: bolder;
    font-size: 2rem;
}
#logoNav {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    margin-left: 500px;
    margin-right: 150px;
}
.navElement {
    color: #0000;
    font-size: 2rem;
    margin-left: 30px;
    margin-right: 35px;
}
nav a:hover {
    color:#0065FC;
    border-top: 3px solid #0065FC ;
    padding: 22px 0 0 0; 
}
#inscription {
    font-weight: bolder;
    color: #0065FC;
    margin-left: 30px;
    margin-right: -140%;
}
#inscription:hover {
    color: #0065FC;
}
#search{
    display: flex;
    justify-content: left;
}
#searchLogoCircle {
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 50px;
    height: 52px;
}
#searchLogoPointer {
    font-size: 3rem;
    padding: 7px 0 0 17px;
}
#searchInput{
    border: 2px solid #F2F2F2;
    font-weight: bolder;
    height: 50px;
    width: 230px;
    font-size: 20px ;
    margin-right: 0;
}
#searchSubmitText {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color:#FFFF;
    font-size: 1.5rem;
    font-weight: bolder;
    border-bottom-right-radius: 30px ;
    border-top-right-radius: 30px;
    height: 56px;
    width: 135px;
    margin-left: -4px;
    padding: 4px 15px 0 0;
    
}
#searchSubmitText:hover {
    cursor: pointer;
    background-color: #FFFF;
    color:#0065FC;
}
#filter {
    display: flex;
    flex-direction: row;
    margin: 30px 0 20px 0;
}
#filterTitle{
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
}
.filterBlock {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    font-weight: bolder;
    border: 2px solid #F2F2F2;
    width: auto;
    max-width: 20%;
    height: 2%;
    border-radius: 30px;
    justify-content: left;
    margin-top: 15px
}
.filterElement {
    margin-right: 10px;
    margin-left: 15px;
    font-size: 1.4rem;
}
.filterCircle {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 30px;
    border: 2px solid #DEEBFF;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    margin: -2px 0 0 -2px;
}
.filterLogo {
    vertical-align: center;
    text-align: center;
    margin-top: 8px;
    font-size: 3rem;
}
.filterBlock:hover{
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    cursor:pointer;
}

#info {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
     
}
#infobulle {
    color: #0065FC;
    font-weight: bolder;
    font-family:serif;
    font-size: 1.5rem;
    border: 3px solid #F2F2F2;
    border-radius: 100px;
    padding: 2px 2px 2px 2px;
    width:20px;
    height: 20px;
    text-align: center;
    margin: 15px 5px 0 0;
    
}
#info h4 {
    font-weight: lighter;
    font-size: 1.5rem;
}

/*MAINSECTION*/

#mainSection{
    display:flex;
    flex-direction: row;
}
#marseille{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width:60%;
    max-height: 33%;
    margin-right: 13%;
}
#firstLine{
    display:flex;
    flex-direction: row;
}
#secondLine{
    display:flex;
    flex-direction: row;
}
#affplus {
    margin-left: 15px
}
#affplus:hover {
    cursor:pointer;
    color:#0065FC;
}
.locationMarseille {
    background-color: #FFFF;
    width: auto;
    max-width: 25%;
    height: auto;
    max-height: 17%;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    margin: 30px 30px 30px 30px;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.nomHebergement,.prixHebergement,.notationHebergement {
    margin-left: 7px;
    margin-top: 6px;
}
#secondLine {
    max-height: 250px;
}
.photoMarseille{    
    max-width: 98%;
    width: 100%;
    max-height: 115px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 3px;
    object-fit: cover;
}
#populaire{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 27%;
    max-height: 35%;
    margin: 0 0 0 4px;
    padding: 0 0 0 8px;
}
#populaireTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#populaireLogo {
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 2% 5% 0 0;
}
.locationPopulaire{
    display: flex;
    background-color: #FFFF;
    border-radius: 30px;
    max-width: 90%;
    max-height: 40%;
    height: 40%;
    width: auto;
    margin: 0 0 15% 5%;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.photoPopulaire {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    width: 100%;
    height: 98%;
    max-width: 140px;
    max-height: 126px;
    margin-bottom: -2%;
}
.descriptionLocationPopulaire {
    margin-top: 15px;
}
.nomHebergement {
    font-weight: bolder;
    font-size: 1.3rem;
    margin-top: -4px;
}
.prixHebergement {
    font-size: 1rem;
    margin-top: -20px;
}
.notationHebergement {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    margin-bottom: 5px
}
#notationPanier {
    margin-top: -13px;
}

/*LOWER SECTION*/

#lowerSection {
    padding-top:70px;
}
#activites {
    display: flex;
    flex-direction: row;
}
#leftActivites, #rightActivites {
    display: flex;
    flex-direction: row;
}
#leftColumn, #rightColumn {
    display: flex;
    flex-direction: column;
}
.bigActivite {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 45%;
    max-height: 90%;
    width: auto;
    height: auto;
    margin-right: 42px;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.bigActivitePhotoContainer {
    width: 98%;
    height: 90%;
    margin-left: 1%;

}
.bigActivitePhoto {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 100%;
    width: 100%;
    min-height: max-content;
    object-fit: cover;
}
.littleActivite {
    border-radius: 30px;
    width: 55%;
    height: 40%;
    min-height: 25%;
    min-width: 45%;
    margin: 0 0 10% 0;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.littleActivitePhotoContainer {
    width: 98%;
    height: 90%;
    margin-left: 1%;

}
.littleActivitePhoto {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 80%;
    width: 98%;
    max-height: 150px;
    max-width: 98%;
    margin-left: 1%;
    object-fit: cover;

}
.nomBigActivite {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: -1px;
    margin-left: 5px;                  
}
.nomLittleActivite {
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: -20px;
    margin-left: 15px;

}

/*FOOTER*/

footer {
   background-color: #F2F2F2;
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: space-between;
}
.footerLinkGroup{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}
.footerLink {
    margin-bottom: 20px;
    font-size: 1.5rem;
}
footer h3 {
    margin: 50px 0 25px 40px ;
    font-size: 2rem;
    font-weight: bolder;
}
footer a:hover{
    color:#0065FC;
}

/*----- REGLES SPECIFIQUES RELATIVES AUX TABLETTES -----*/

@media screen and (min-width: 376px) and (max-width: 768px) {
 
    html {
        font-size: 11px;
    }

    /*HEADER*/

    #searchSubmitLogo {
        display: none;
    }
    .filterCircle {
        height: auto;
        max-height: 100%;
    }
    .filterLogo {
        font-size: 2.5rem;
    }

    /*MAIN SECTION*/

    #mainSection {
        display: flex;
        flex-direction: column;
    }
    #marseille {
        max-width: 100%;
        width: auto;
        margin: 0 0 5% 0;
    }
    #populaire {
        width: 100%;
        margin: 0 0 0 0;
    }
    .locationPopulaire {
        margin: 5% 0 0 0;
    }
    
    /*LOWER SECTION*/
    #lowerSection {
        margin-top: -500px;
    } 
    #activites {
        display: flex;
        flex-direction: column;
    }
    #leftActivites, #rightActivites {
        display: flex;
        flex-direction: column;
    }
    #leftColumn, #rightColumn {
        display: flex;
        flex-direction: row;
    }
    .bigActivite {
        margin: 0 0 5% 25%;
    }
    .nomLittleActivite {
        margin-top: 0px;
    }

}

/*----- REGLES SPECIFIQUES RELATIVES AUX SMARTPHONES -----*/

@media screen and (max-width : 375px) {
    
    /*HEADER*/

    #logoNav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 375px;
    }
    #logo{
        margin-right: -120px;
    }
    nav {
        flex-wrap: wrap-reverse;
        margin: 0 0 0 0;
    }
    #inscription {
        margin: 23px 5px 0 0;
    }
    nav a:hover {
        color:#0065FC;
        border-bottom: 3px solid #0065FC ;
        padding: 0 0 3px 0; 
    }
    #searchSubmitText {
        display: none;
    }
    #searchSubmitLogo {
        border: 2px solid #0065FC;
        background-color: #0065FC;
        color:#FFFF;
        font-size: 1.5rem;
        font-weight: bolder;
        border-bottom-right-radius: 30px ;
        border-top-right-radius: 30px;
        height: 56px;
        width: 50px;
        margin-left: -4px;
    }
    #inscription, #logo {
        display:flex;
        flex-direction: row;
    }
    #filter {
        flex-wrap: wrap;
    }
    .filterBlock {
        min-width: 50%;
        width: auto;
    }
    #animauxAutorises {
        min-width: 70%;
    }
    #filterTitle {
        font-size: 2rem;
    }
    
    /*MAINSECTION*/

    #mainSection {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0;
    }
    #populaire {
        display: flex;
        max-width: 100%;
        width: auto;
        
    }
    #populaireLogo {
        padding: 3% 5% 0 0;
    }
    #marseille {
        background-color: #FFFF;
        flex-direction: column;
    }
    #firstLine {
        flex-direction: column;
    }
    #secondLine {
        flex-direction: column;
    }
    .locationMarseille {
        width: 330px;
        max-width: 330px;
        margin-left: 6px;
    }
    #affplus {
        margin-top: 520px;
    }

    /*LOWER SECTION*/

    #lowerSection {
        margin-top: -50px;
    }
    #activites {
        flex-direction: column;
    }
    #leftActivites, #rightActivites {
        flex-direction: column;
    }
    #leftColumn, #rightColumn {
        flex-direction: column;
    }
    .bigActivite, .littleActivite {
        width: 330px;
        max-width: 330px;
        max-height: 200px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .bigActivitePhoto {
        max-height: 160px;
    }
    .nomLittleActivite {
        margin-top: 0;
    }

    /*FOOTER*/
    footer {
        display: flex;
        flex-direction: column;
    }
}

/*----- REGLES SPECIFIQUES RELATIVES AUX ORDINATEURS -----*/

@media screen and (min-width: 769px) {
    
    /*HEADER*/

    #searchSubmitLogo {
        display: none;
    }

    /*MAINSECTION*/

    /*LOWERSECTION*/

    /*FOOTER*/

}

/* Mise en page construction.html */

#construction {
    background-color: #F2F2F2;
    width: 50%;
    margin: 10% 40% 25% 25%;  
    text-align: center;
    border: 5px #DEEBFF solid;
    border-radius: 15px; 
}
#constlink{
    color: #0000;
}
#constLink:hover {
    color: #0065FC;
}
