/* Définition de la police */

@font-face{
    font-family: "raleway";
    src: url("font/Raleway-Regular.ttf") format("truetype");
}

* {
    font-family: "raleway", Arial;
}

/* Mise en page générale */

:link {
    text-decoration:none;
}
a:visited {
color: #0000;
}
* {
    list-style-type: none;
}
h1 {
    font-size: x-large;
    font-weight: bolder;
}
.blueStar {
    color: #0065FC;
}
.whiteStar {
    color: #DEEBFF;
}
em {
    font-weight: bold;
}

/* Mise en page index.html */

/*HEADER*/

#mainSubTitle {
    font-size: 15px;
    margin-top: -5px;
    font-weight: lighter;
}
#mainTitle {
    font-weight: bolder;
    font-size: 20px;
}
#logoNav {
    display: flex;
}
nav {
    display: flex;
    margin-left: 650px;

}
.navElement {
    color: #0000;
    margin-left: 30px;
    margin-right: 35px;
    padding: 12;
}
nav a:hover {
    color:#0065FC;
    border-top: 3px solid #0065FC ;
    padding: 22px 0 0 0; 
}
#inscription {
    font-weight: bolder;
    color: #0065FC;
    margin-left: 30px;
    margin-right: 35px;
}
#inscription:hover {
    color: #0000;
}
#search{
    display: flex;
    justify-content: left;
}
#searchLogoCircle {
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 50px;
    height: 52px;
}
#searchLogoPointer {
    font-size: 30px;
    padding: 7px 0 0 17px;
}
#searchInput{
    border: 2px solid #F2F2F2;
    font-weight: bolder;
    height: 50px;
    width: 230px;
    font-size: 20px ;
    margin-right: 0;
}
#searchSubmit {
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color:#FFFF;
    font-size: 15px;
    font-weight: bolder;
    border-bottom-right-radius: 30px ;
    border-top-right-radius: 30px;
    height: 56px;
    width: 135px;
    margin-left: -4px;
    padding: 4px 15px 0 0;
    
}
#searchSubmit:hover {
    cursor: pointer;
    background-color: #FFFF;
    color:#0065FC;
}
#filter {
    display: flex;
    flex-direction: row;
    margin: 30px 0 20px 0;
}
#filterTitle{
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
}
.filterBlock {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    font-weight: bolder;
    border: 2px solid #F2F2F2;
    width: auto;
    height: 50px;
    border-radius: 30px;
    justify-content: left;
    margin-top: 15px
}
.filterElement {
    margin-right: 10px;
    margin-left: 15px;
}
.filterCircle {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 30px;
    border: 2px solid #DEEBFF;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    margin: -2px 0 0 -2px;
}
.filterLogo {
    vertical-align: center;
    text-align: center;
    margin-top: 8px;
    font-size: 30px;
}
.filterBlock:hover{
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: bolder;
    cursor:pointer;
}

#info {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
     
}
#infobulle {
    color: #0065FC;
    font-weight: bolder;
    font-family:serif;
    font-size: 15px;
    border: 3px solid #F2F2F2;
    border-radius: 100px;
    padding: 2px 2px 2px 2px;
    width:20px;
    height: 20px;
    text-align: center;
    margin: 15px 5px 0 0;
    
}
#info h4 {
    font-weight: lighter;
}

/*MAINSECTION*/

#mainSection{
    display:flex;
    flex-direction: row;
}
section h2 {
    font-weight: bolder;
    margin-left: 15px;
}
#marseille{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width:880px;
    max-height: 630px;
    margin-right: 40px;
}
#firstLine{
    display:flex;
    flex-direction: row;
}
#secondLine{
    display:flex;
    flex-direction: row;
}
#affplus {
    margin-left: 15px
}
#affplus:hover {
    cursor:pointer;
    color:#0065FC;
}
.locationMarseille {
    background-color: #FFFF;
    width: 250px;
    height: auto;
    max-height: 250px;
    border-radius: 30px;
    padding: 5px 5px 5px 5px;
    margin: 30px 30px 30px 30px;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.nomHebergement,.prixHebergement,.notationHebergement {
    margin-left: 7px;
    margin-top: 6px;
}
#secondLine {
    max-height: 250px;
}
.photoMarseille{    
    max-width: 98%;
    width: 100%;
    max-height: 115px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 3px;
    object-fit: cover;
}
#populaire{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 400px;
    max-height: 630px;
    margin: 0 0 0 4px;
    padding: 0 0 0 8px;
}
#populaireTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#populaireLogo {
    font-size: 25px;
    font-weight: bolder;
    padding: 25px 15px 0 0;
}
.locationPopulaire{
    display: flex;
    background-color: #FFFF;
    border-radius: 30px;
    max-width: 350px;
    max-height: 130px;
    height: 100%;
    width: 100%;
    margin: 0 0 40px 20px;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.photoPopulaire {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: cover;
    width: 140px;
    height: 126px;
}
.descriptionLocationPopulaire {
    margin-top: 15px;
}
.nomHebergement {
    font-weight: bolder;
    font-size: 13px;
    margin-top: -4px;
}
.prixHebergement {
    font-size: 10px;
    margin-top: -20px;
}
.notationHebergement {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 5px
}
#notationPanier {
    margin-top: -13px;
}

/*LOWER SECTION*/

#lowerSection {
    padding-top:70px;
}
#activites {
    display: flex;
    flex-direction: row;
}
#leftActivites, #rightActivites {
    display: flex;
    flex-direction: row;
}
#leftColumn, #rightColumn {
    display: flex;
    flex-direction: column;
}
.bigActivite {
    border-radius: 30px;
    max-width: 300px;
    max-height: 600px;
    width: auto;
    height: auto;
    margin-right: 42px;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.bigActivitePhoto {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 450px;
    width: 300px;
    object-fit: cover;
}
.littleActivite {
    border-radius: 30px;
    max-width: 300px;
    max-height: 160px;
    margin: 0 40px 130px 0;
    box-shadow: 7px 10px 13px 4px #DEEBFF;
}
.littleActivitePhoto {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 120px;
    width: 300px;
    object-fit: cover;

}
.nomActivite {
    font-weight: bold;
    font-size: 15px;
    margin-top: -1px;
    margin-left: 5px
}

/*FOOTER*/
footer {
   background-color: #F2F2F2;
   display: flex;
   flex-direction: row;
}
.footerLinkGroup{
    display: flex;
    flex-direction: column;
    margin-right: 220px;

}
.footerLink {
    margin-bottom: 20px;
    font-size: 15px;
}
footer h3 {
    margin: 50px 0 25px 40px ;
    font-size: 20px;
    font-weight: bolder;
}
footer a:hover{
    color:#0065FC;
}


/* Mise en page construction.html */
#construction {

    background-color: #F2F2F2;
    width: 50%;
    margin: 10% 40% 25% 25%;
    
    text-align: center;
    border: 5px #DEEBFF solid;
    border-radius: 15px; 
}
#constlink{
    color: #0000;
}
#constLink:hover {
    color: #0065FC;
}
#constLink:active{
    text-decoration: italic;
}